.head-navbar {
  height: 80px;
  background-color: #133CAC;
}

.vh100-80{
  height: calc(100vh - 80px);
}

.bgc476DD5{
  background-color: #476DD5;
}

.activeCategory{
  background-color: #133CAC;
}

.nav-border{
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff
}

.nav-bottom-border{
  border-bottom: 1px solid #fff;
}

.custom-border-1{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.alert{
  position: fixed;
  left: 20px;
  top: 20px;
  width: 300px;
}

.w100{
  width: 100%;

}
.w250px{
  width: 250px;

}
.w40px{
  width: 40px;

}
.w50px{
  width: 50px;

}

